/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.post-detail {
  //WordPress styles
  .wp-block-heading {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: 20px 0 10px;
    font-weight: 700;
  }
  .wp-block-code {
    background: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
  }
  p strong {
    padding: 24px 0 7px;
    display: block;
  }
  ol, ul, menu {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  a {
    --tw-text-opacity: 1;
    color: rgb(63 131 248 / var(--tw-text-opacity));
    &:hover {
      text-decoration: wavy underline;
    }
  }
}

